body {
    height: 100vh;
    background: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Outfit";
}

.container {
    box-shadow: 1px 1px 39px 0px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
}

img {
    border-radius: 10px;
    width: 300px;
    margin-bottom: 25px;
}

h1 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 0px;
}

p {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin-bottom: 20px;
}

